* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#selected {
    background-color: #e5e5e5;
    border-left: 4.8px solid orange;
}
#selected-two {
    color: black;
    background-color: gold;
    padding: 0 .3rem;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.top {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    flex-shrink: 0;
}
.top > input {
    padding: .8rem;
    padding-left: 1.8rem;
    margin: .4rem;
    background-color: #e5e5e5;
    border-radius: .2rem;
    border-style: none;
    position: relative;
}
.top > i {
    position: absolute;
    top: 1.1rem;
    left: .8rem;
    z-index: 999;
}
.middle {
    margin-top: 3.33rem;
    background-color: #e5e5e5;
    display: flex;
    gap: 1rem;
    flex: 1;
}
.middle > div:first-child {
    flex: 1;
}
.middle > div:nth-child(2) {
    flex: 4;
}
.navigation-section > ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 7.3rem);
    overflow-y: auto;
    scroll-behavior: smooth;
}
.navigation-section > ul > li {
    list-style: none;
    padding: 1.5rem 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: .7rem;
    font-family: verdana;
}
.item-section {
    font-family: Tahoma;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-right: 1.2rem;
    margin-top: .8rem;
    height: calc(100vh - 8.2rem);
    overflow-y: auto;
    scroll-behavior: smooth;
}
.item-section > div:not(div:first-child) {
    background-color: white;
    border-radius: .2rem;
}
.item-section > div:not(div:first-child) > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.2rem;
    border-bottom: 1px solid #e5e5e5;
}
.item-section > div:not(div:first-child) > div:last-child {
    border-radius: .4rem;
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    padding-bottom: 2rem;
}
.item-section > div:first-child {
    height: 2rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.2rem;
    border-radius: .2rem;
}
.product {
    width: 5rem;
    height: 5rem;
    background-color: #e5e5e5;
    border-radius: .2rem;
    margin-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.product > span:first-child {
    color: midnightblue;
    transform: scale(5);
}
.product > span:nth-child(2) {
    position: absolute;
    bottom: -1rem;
    color: midnightblue;
    transform: scale(.5);
    color: initial;
    font-family: sans-serif;
    white-space: nowrap;
    letter-spacing: -.04rem;
}
#color {
    color: orange;
    font-size: .7rem;
}
.bottom > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 4rem;
}
.bottom > ul > li {
    list-style: none;
    padding: 1.2rem;
    font-size: .8rem;
    font-family: verdana;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bottom > li > span {
    color: gold;
    background-color: black;
    border-radius: .2rem;
    padding: 0 .15rem;
}