* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* :root {
    font-size: 5px;
} */
#highlight a {
    color: blue;
    white-space: nowrap;
}
#highlight-2 {
    color: hsl(212, 91%, 46%);
}
#highlight-2:hover {
    text-decoration: underline;
}
#selected {
    color: white;
    font-size: 1.18rem;
    font-family: sans-serif;
    padding-left: .65rem;
    line-height: 1.08;
    transform: scale(.85, 1.3);
    white-space: nowrap;
    font-weight: 100;
}
#selected:hover {
    text-decoration: underline; 
}
.capitalise {
    text-transform: uppercase;
    color: hsl(212, 91%, 46%);
    font-family: Tahoma;
    font-weight: bold;
    padding-bottom: .6rem;
}
.special {
    width: 100%;
    max-width: 20rem;
    padding: .5rem 0.19rem;
    border-radius: .2rem;
}
.special:hover {
    background-color: hsl(212, 91%, 46%);
}
.special:hover .capitalise,
.special:hover .styling,
.special:hover .styling div {
    color: white;
}
.styling {
    display: flex;
    letter-spacing: initial;
    color: hsl(212, 91%, 46%);
    font-family: sans-serif;
    margin-top: .5rem;
}
.styling div:first-child {
    flex: .6;
}
.styling div:last-child {
    flex: 39;
}
.styling div:last-child {
    flex: 29;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .87rem;
}
.container {
    display: flex;
    flex-direction: column;
}
.the-head {
    background-color: #b7c1cb;
}
.the-head > .target > div {
    display: flex;
    gap: 4.3rem;
    align-items: center;
    padding: 2.1rem 1.01rem 1.4rem 1.01rem;
}
.the-head > .target > div > img {
    width: 100%;
    max-width: 6rem;
    height: 100%;
    max-height: 5.6rem;
}
.the-head > .target > div > div {
    margin-top: -2.8rem;
}
.the-head > .target > div > div > h2 {
    font-size: 2.5rem;
    white-space: nowrap;
    color: #007;
    font-weight: lighter;
    font-family: Tahoma;
    line-height: 1.12;
}
.the-head > .target > div > div > h2:last-child {
    letter-spacing: .094rem;
}
.nav-main {
    background-color: #005;
}
.nav-main > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-main ul {
    display: flex;
}
.nav-main ul > li {
    padding: 1.7rem 1.6rem .9rem;
    list-style: none;
}
.nav-main > .target > span {
    color: #fc0;
    white-space: nowrap;
    font-family: sans-serif;
    scale: .7;
    padding-right: 1.6rem;
}
.nav-main ul > li > a {
    color: #fc0;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1.18rem;
    white-space: nowrap;
    font-weight: 100;
    display: inline-block;
    transform: scale(.9, 1.3);
}
.nav-main ul > li > a:hover {
    color: white;
    text-decoration: underline;
}
.main-one {
    background-color: #fff;
}
.main-one img {
    width: 100%;
    /* max-width: 70rem; */
    height: 100%;
    border-top: .4px solid #fff;
}
.overlay-text {
    white-space: nowrap;
    font-family: sans-serif;
    display: inline-block;
    color: #eee;
    font-style: italic;
    word-spacing: 0.5rem;
    transform: scale(1, 1.8);
}
.main-one > .target > div {
    display: flex;
    border-top: 0.08rem solid yellowgreen;
}
.main-one > .target > div > div:first-child {
    flex: 2;
    height: 16.61rem;
    position: relative;
}
.main-one > .target > div > div:first-child > p {
    background-color: rgb(0, 0, 0, 0.6);
    padding: 1.32rem 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.main-one > .target > div > div:last-child {
    background-color: rgb(0, 0, 0, 5%);
    font-family: sans-serif;
    width: 100%;
    /* max-width: 45rem; */
    height: 16.61rem;
    flex: 1;
}
.main-one > .target > div > div:last-child > h2 {
    background-color: grey;
    padding: 1rem;
    color: gold;
}
.main-one > .target > div > div:last-child > h2 ~ * {
    padding: 1rem;
}
.main-one > .target > div > div:last-child > p:nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
}
.main-one > .target > div > div:last-child > p:nth-child(3) {
    text-transform: uppercase;
    color: hsl(212, 91%, 46%);
}
.main-one > .target > div > div:last-child > h2 ~ a {
    text-transform: initial;
    text-decoration: none;
    font-family: sans-serif;
    color: hsl(212, 91%, 46%);
}
#play {
    background-color: lightgrey;
    margin-bottom: 2.4rem;
}
.main-two {
    background-color: #eee;
}
.main-two > .target > div {
    display: flex;
}
.main-two > .target > div > div {
    flex: 1;
    padding-left: 1rem;
}
.main-two > .target > div > div:last-child {
    padding-left: 4.4rem;
}
.main-two > .target > div > div:not(.skip-me) > p:not(.capitalise) > a {
    display: inline-block;
    width: 100%;
    max-width: 20rem;
    padding: 0.5rem;
    border-radius: 0.15rem;
}
.main-two > .target > div > div:not(.skip-me) > p > a:hover {
    background-color: hsl(212, 91%, 46%);
    color: white;
}
.main-two > .target > div > .skip-me {
    position: relative;
}
.main-two > .target > div > .skip-me h2 {
    padding-left: 3rem;
}
.main-two > .target > div h2 {
    color: rgb(118, 101, 6);
    margin-bottom: 3rem;
    letter-spacing: -0.2rem;
    font-family: monospace;
    text-decoration: underline;
    font-size: 1.8rem;
    font-weight: lighter;
}
.main-two > .target > div > div:last-child > h2 {
    padding-top: 1.3rem;
}

.main-two > .target > div > .skip-me > span {
    background-color: red;
    padding: 1rem;
    border-radius: 50%;
    color: white;
    letter-spacing: -0.1rem;
    position: absolute;
    top: 0;
    left: 0;
}
.main-two > .target > div > div:last-child > h2 {
    text-decoration: initial;
}
.main-two > .target > div > .skip-me > p > a:hover {
    text-decoration: underline;
}
.main-two > .target > div > div a {
    text-decoration: none;
    font-size: .9rem;
    font-weight: bold;
    font-family: Tahoma;
    color: hsl(212, 91%, 46%);
    letter-spacing: .02rem;
}
.main-two > .target > div > .skip-me > p > a {
    color: red;
    display: inline-block;
    width: 100%;
    max-width: 20rem;
}
.main-two > .target > div > .skip-me > p:not(#highlight) {
    margin-bottom: 1rem;
}
.the-foot > .links {
    background-color: black;
}
.the-foot > .links > .target > div {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}
.the-foot > .links > .target > div > div:first-child > p > a {
    margin-left: 1rem;
}
.the-foot > .links > .target > div:nth-child(1) > div:nth-child(1) {
    flex: 1;
    color: hsl(212, 91%, 46%);
}
.the-foot > .links > .target > div:nth-child(1) > div:nth-child(2) {
    flex: 2;
}
.the-foot > .links > .target > div:first-child > div:nth-child(1) a {
    color: hsl(212, 91%, 46%);
}
.the-foot > .links > .target > div:first-child p {
    margin-bottom: .6rem;
}
.the-foot > .links > .target > div:first-child a {
    text-decoration: none;
    font-family: monospace;
    letter-spacing: -.04rem;
}
.the-foot > .links > .target > div:first-child > div:nth-child(1) > p > a:hover {
    text-decoration: underline;
}
.the-foot > .links > .target > div:nth-child(1) > div:nth-child(2) > p > span {
    font-family: monospace;
    letter-spacing: -.02rem;
    color: white;
}
.the-foot > .payment > .target > div {
    background-color: white;
    margin-left: 1.2rem;
    width: 100%;
    max-width: 32rem;
    margin-top: -2.6rem;
    position: relative;
}
.the-foot > .payment > .target > div > p {
    background-color: black;
    color: white;
    font-family: verdana;
}

.the-foot > .payment > .target > div > fieldset > legend {
    color: #006400ee;
    font-weight: bold;
    font-size: .6rem;
    font-family: sans-serif;
}
.the-foot > .payment > .target > div > fieldset {
    border-style: solid;
    border-color: orange;
    border-width: .16rem;
    padding: 0.5rem;
    margin: .8rem .4rem;
    height: 5rem;
}
.the-foot > .payment > .target > div > fieldset > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(1) {
    color: orange;
    font-weight: bold;
    font-style: italic;
}
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(2) {
    width: 100%;
    max-width: 3rem;
    height: 100%;
    max-height: 3rem;
    border-radius: 50%;
    background-color: red;
    font-family: verdana;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(3) {
    color: orange;
    font-family: verdana;
    font-weight: bold;
}
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(5),
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(4),
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(6) {
    width: 100%;
    max-width: 6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    word-break: break-word;
}
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(4) {
    background-color: #006400;
}
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(5) {
    background-color: black;
}
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(6) {
    background-color: lightblue;
}
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(6),
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(5),
.the-foot > .payment > .target > div > fieldset > div > span:nth-child(4) {
    color: white;
    font-weight: bold;
    font-family: Tahoma;
}
.the-foot > .payment > .target > div > fieldset > div > p {
    font-size: .5rem;
    position: absolute;
    bottom: -0.15rem;
    right: 1rem;
    padding: 0 .1rem;
    background-color: white;
}
.the-foot > .payment > .target > div > fieldset > div > p > span {
    color: orange;
    font-family: Tahoma;
    font-weight: bold;
    display: inline-block;
    transform: scale(1.2, 1.5);
    padding: 0 .2rem;
}

@media screen and (min-width: 1200px) { 
    .target {
        margin: 0 auto;
        max-width: 75.05rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        width: 75.05rem;
    }
}
@media screen and (max-width: 768px) {
    :root {
        font-size: 7px;
    }
    .container {
        width: 100%;
    }
}